<h1>New User</h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error|%>
        <p style="color: red"></p>
    <%end%>
<%end%>

<%= form_for @user do |u|%>
    <%= u.label :name%>
    <%= u.text_field :name%>

    <%= u.label :email%>
    <%= u.text_field :email%>

    <%= u.label :verified_status%>
    <%= u.text_field :verified_status%>

    <%= u.label :identity_access_key%>
    <%= u.text_field :identity_access_key%>

    <%= u.submit%>
<%end%>